<!DOCTYPE html>
<html lang="en">
<head th:fragment="htmlhead">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drink Expert</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.13.2/jquery-ui.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/template/style.css">
</head>
<body>
    <nav  th:fragment="menu">
    <div>
        <h1>DrinkExpert</h1>
        <div id="divEsquerda">aaaaa</div>
        <div id="divDireita">aaaaaa</div>
    <div>
    </nav>
</body>
</html>