<!DOCTYPE html>
<html lang="en">
    <head th:include="template :: htmlhead"></head>
<body class="d-flex justify-content-center vh-100">
    <div class="container">
        <form th:action="@{/searchDrink/form}"
            method="POST"
            th:object="${drink}"
        >
        <form>
            <div class="mb-3 ">
                <label class="form-label">Selecione a base alcoolica</label>
                <select class="form-select" 
                    th:field="*{baseDrink}"    
                    id="txtBaseDrink">
                    <option 
                            selected
                            value="">
                    </option>
                    <option th:each="baseDrink : ${listBaseDrink}"
                            th:text="${baseDrink}"
                            th:value="${baseDrink}">
                    </option>
                </select>
            </div>
            <div class="mb-3 ">
                <label class="form-label">Selecione algum ingredientes</label>
                <select class="form-select"
                    th:field="*{listaIngredientes}"    
                    id="txtIngredientsDrink" >
                    <option 
                        selected
                        value="">
                    </option>
                    <option 
                        th:each="listaIngredientes : ${listIngredientsDrink}"
                        th:text="${listaIngredientes}"
                        th:value="${listaIngredientes}"
                        >
                    </option>
                </select>
            </div>
            <div class="mb-3 ">
                <label class="form-label">Selecione uma caracteristica do Drink</label>
                <select class="form-select"
                    th:field="*{caracteristica}"    
                    id="txtCaracteristicsDrink">
                    <option
                        selected
                        value="">
                    </option>
                    <option
                        th:each="caracteristics : ${listCaracteristicsDrink}"
                        th:text="${caracteristics}"
                        th:value="${caracteristics}">
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    
</body>
</html>